body{
	background-color: black;
	color: white;
	font-size: 25px;
}
#t{
	font-size: 40px;
}
#vdo{
	z-index: -1;
	object-fit: cover;
	position: fixed;
	width: 100vw;
	height: 100vh;
}
fieldset{
	border-width: 15px;
	color: white;
}
select{
	width: 500px;
	font-size: 15px;
	background-color: black;
	color: white;
}
button{
	background-color: aqua;
	font-size: 20px;
}